<div class="Nav">
    <img src="lost-and-found.png" height="55px">
    <h1>Lost and found</h1>
</div>
<div class="Container">
    <div class="Login">
        <div class="Art">
            <img src="undraw_secure_login_pdn4.svg">
        </div>
        <div class="Divider"></div>
        <div class="LoginCard">
            <div class="LoginDetails">
                <h2>Login</h2>
                <p>Institute Email</p>
                <div class="InputDiv">
                    <img src="arroba.png" height="17px">
                    <input type="email">
                </div>
                <p>Password</p>
                <div class="InputDiv">
                    <img src="password.png" height="17px">
                    <input type="password">
                </div>

            </div>
            <button>Log In</button>
            <span>Or Login with</span>
            <a href="google.com"><img src="google.png" height="30px" ></a>
        </div>

    </div>
</div>