@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:wght@300;400&display=swap');

body {
    font-family: Arial, sans-serif; /* Default font for the entire body */
}
.Container {
    background-color: #1A71FE;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Nav{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #1A71FE;
    height: 5rem;
    color:white;
    font-family: 'Poppins', sans-serif;
    padding-inline: 3rem;
}
.Nav {
    font-family: "Playwrite IT Moderna", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.Login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    gap: 1rem;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    background-color: white;
    padding: 50px;
    padding-inline: 100px;
}

.Art{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Art img{
    height: 70%;
}
.Divider{
    border: solid grey 2px;
    margin-top: 5%;
    height: 80%;
    margin-left: 8%;
}
.LoginCard{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    color: white;
    width: 40%;
    background-image: url("../../../../public/blob.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 122%;
    overflow:visible ;
    font-family: 'Poppins', sans-serif;
}
.LoginDetails{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}
.LoginDetails input{
width: 220px;
height: 30px;
border-top-right-radius: 1rem;
border-bottom-right-radius: 1rem;
border: none;
background-color: #E7F0FF;
color: #1A71FE;
padding-left: 2rem;
font-family: 'Poppins', sans-serif;
font-size: 1rem;
}
.LoginCard input:focus {
    outline: none; /* Removes the default outline */
    border: none;  /* Removes the default border */
}
.InputDiv{
    display: flex;
    
}
.InputDiv img{
    position: relative;
    left: 22px;
    top: 7px;
}
.LoginCard button{
    width: 10rem;
    height: 1.7rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    color: #1A71FE;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.LoginCard button:hover{
    background-color: #32de84;
}