<div class="backdrop" *ngIf="Open" (click)="closeDetails()">
  <div class="popup" [ngClass]="{'closing': isClosing}" (click)="$event.stopPropagation()">
    <div class="Left">
      <img [src]="imageSelected">
      <div class="ImagesArray">
        <div *ngFor="let Image of ItemSelected.otherImages" class="otherImage">
          <img [src]="Image.src" alt="img" (click)="changeImage(Image.src)" [ngClass]="{'Selected': Image.src === imageSelected}" />
        </div>
      </div>
    </div>
    <div class="Divider"></div>
    <div class="Right">
      <h2>{{ItemSelected.title}}</h2>
      <p>{{ItemSelected.description}}</p>
      <p>{{ItemSelected.Place}}</p>
    </div>
    <img src="CloserIcon.png" (click)="closeDetails()" class="Closer">
  </div>
</div>
