@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:wght@300;400&display=swap');
body {
    font-family: Arial, sans-serif; /* Default font for the entire body */
}
.Container {
    background-color: #1A71FE;
    height: fit-content;
    padding: 1rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.Left{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
}