<div>
  <app-navbar></app-navbar>
</div>
<div class="Wrapper">
  <div class="Container">
    <div class="Heading">
      <p>Recently reported items!</p>
      <button class="postBtn btn">Post New</button>
    </div>
    <div class="Items">
      <div *ngFor="let item of LostAndFounditems" class="ItemCard">
        <img [src]="item.image">
        <div class="CardBottom">
          <span>{{ timeAgo(item.date, item.time) }}</span>
          <strong><p [ngClass]="{'Lost': item.status === 'Lost', 'Found': item.status === 'Found'}"> {{item.status}}</p></strong>
        </div>
        <div class="Details">
          <div class="DetailsText">
          <h3>{{item.title}}</h3>
          <p>{{item.description}}</p>
          <p><strong>Place:</strong> {{item.Place}}</p>
          </div>
          <button class="btn">Contact the author</button>
        </div>
      </div>
    </div>
  </div>
</div>